* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(173, 200, 213, 0.556);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.logo {
    border-radius: 38%;
    border: 2px solid rgb(221, 221, 221);
    padding: 5px;
    width: 135px;
}
.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}
